* {
    overflow-x: initial;
}

section.front-effect {
    padding: initial;
    font-size: initial;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -khtml-user-select: none;    /* Konqueror HTML */
    -moz-user-select: none;      /* Old versions of Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.front-container {
    background: var(--mainColor);
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.scroll {
    white-space: nowrap;
    margin: 0 2em;
}

.scroll div {
    display: flex;
    gap: 2em;
}

.scroll p {
    font-size: 8em;
    font-weight: 500;
    margin-bottom: 0;
    line-height: 70px;
}

.from-right {
    animation: from-right 65s infinite linear;
}

.from-right2 {
    animation: from-right2 50s infinite linear;
}

@keyframes  from-right {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes  from-right2 {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

.from-left {
    animation: from-left 40s infinite linear;
}

.from-left p {
    color: var(--detailsColor);
}

@keyframes  from-left {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0%);
    }
}