@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/*** initialization ***/
* {
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    overflow-x: initial;
}

/*
    https://codepen.io/sosuke/pen/Pjoqqp
    I used this fantstic tool to change the colors of the .png images with css filters.
    It approximates the desired color and seems to work very well.
*/
:root {
    /* color palette */
    --blue:             invert(24%) sepia(13%) saturate(1455%) hue-rotate(169deg) brightness(99%) contrast(88%); /*#34495E*/
    --black:            invert(15%) sepia(10%) saturate(244%) hue-rotate(314deg) brightness(101%) contrast(85%); /*#373434*/

    --mainColor:        #c4c1c1;
    --secondMainColor:  #b1aeae;
    --footerColor:      #918d8d;
    --detailsColor:     #34495E;
    --letteringColor:   #373434;

    --switchModeImage:  var(--blue);
    --switchModeImage2: var(--black);
    --socialImage:      var(--black);
    --socialImage2:     var(--blue);
    --mobile-menu:      var(--blue);
}

html[data-theme="vaporwave"] {
    /* vaporwave color palette */
    --yellow:           invert(93%) sepia(98%) saturate(353%) hue-rotate(347deg) brightness(100%) contrast(102%);  /*#fffb96*/
    --cian:             invert(77%) sepia(71%) saturate(2884%) hue-rotate(119deg) brightness(104%) contrast(102%); /*#00f8d7*/
    --white:            invert(84%) sepia(1%) saturate(3150%) hue-rotate(202deg) brightness(108%) contrast(117%);  /*#f8f8ff*/

    --mainColor:        #8f1088; /* #ca17c1 */
    --secondMainColor:  #23a3a3;
    --footerColor:      #390e58;
    --detailsColor:     #00f8d7;
    --detailsColor2:    #fffb96;
    --letteringColor:   #cecece; /* f8f8ff */

    --switchModeImage:  var(--cian);
    --switchModeImage2: var(--yellow);
    --socialImage:      var(--white);
    --socialImage2:     var(--cian);
    --mobile-menu:      var(--yellow);
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--letteringColor);
}

::-moz-selection {
    background: var(--detailsColor);
    color: var(--mainColor);    
}

::selection {
    background: var(--detailsColor);
    color: var(--mainColor);
}

html {
    background: var(--mainColor);
}

/*** modifying the background color of highlight.js ***/
.hljs {
    background-color: var(--letteringColor);
    margin-top: 30px;
    margin-bottom: 30px;
}

a, a:link, a:visited, a:hover, a:active {
    color: var(--detailsColor);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

h2, h3 {
    font-weight: 450;
}

p {
    color: var(--letteringColor);
    text-align: justify;
    font-weight: 400;
    /*letter-spacing: 0.5px;*/
}

.content p a {
    font-weight: 600;
}

.keyword {
    font-weight: 500;
}

hr {
    border: 0;
    border-top: 5px solid var(--secondMainColor);
    margin-bottom: 20px;
}

section {
    padding: 100px 18.810vw 100px 28.810vw; /* 100px 23.810vw 100px 23.810vw */
    font-size: 1.2rem;
}

.content .post-date {
    font-weight: 300;
}

/*** cursor effect ***/
.cursor {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    background: white;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    z-index: 6;
}

.innercursor {
    display: none;
    width: .5rem;
    height: .5rem;
    background: var(--detailsColor);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%) ;
    transform-origin: 100% 100% ;
    pointer-events: none;
    transition: all 0.2s ease;
    z-index: 5;
}

.cursor-change {
    transform: scale(2);
    background: black;
}

.innercursor-change {
    display: block;
    width: 1rem;
    height: 1rem;
    background: var(--detailsColor);
    opacity: 0.7;
    transition-property: background, transform;
    z-index: 7;
}

.vapor-cursor {
    mix-blend-mode: initial;
    background: var(--detailsColor2);
    opacity: 0.5;
}

.vapor-innercursor {
    display: block;
    background: var(--detailsColor2);
}

/*** header with menu ***/
header {
    position: fixed;
    width: 22%;
    padding: 180px 20px 2000px 0px; /* 180px 20px 280px 0px; 130px 20px 130px 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    font-size: 1.2rem;
    border-right: solid 5px var(--mainColor);
    background-color: var(--secondMainColor);
}

header.sticky {
    background: var(--mainColor);
    padding: 20px 10vw;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .current-page {
    color: var(--letteringColor);
    font-size: 24px;
    letter-spacing: 3px;
    text-decoration: none;
}

.menu-div {
    text-align: right;
    transition: 0.5s;
}

header ul li {
    margin: 7px 0 7px 0;
}

header.sticky ul li a {
    color: var(--letteringColor);
}

header.sticky ul li a:hover {
    color: var(--detailsColor);
}

/*** heading and content div ***/
.heading {
    margin-bottom: 30px;
    color: var(--letteringColor);
}

.heading h2 {
    font-size: 50px;
}

.heading h3 {
    font-size: 30px;
}

/*.content-spacing {
    // simulates ~3 '<br/>'
    margin-bottom: 72px;
}*/

/*** custom unordered list ***/
.check-list {
    margin: 0;
    padding-left: 1rem;
    padding-top: 0.5rem;
}
  
.check-list li {
    color: var(--letteringColor);
    position: relative;
    list-style-type: none;
    padding-left: 1.5rem;
    margin-bottom: 0.3rem;
}
  
.check-list li:before {
    content: 'o';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 0 0 0;
    transform-origin: bottom left;
}

/*** copyright section ***/
.copyright {
    position: relative;
    z-index: 0;
    background: var(--footerColor);
    padding: 10px;
    border-top: solid 5px var(--mainColor);
}

.copyright p {
    text-align: center;
}

.copyright p a {
    color: var(--letteringColor);
}

/*** footer icons ***/
.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon li {
    list-style: none;
}

.footer-icon li a,
.footer-icon li button {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
}

.footer-icon li a img {
    max-width: 24px;
}

.footer-icon li a img {
    filter: var(--socialImage);
}

.footer-icon li a img:hover {
    filter: var(--socialImage2);
}

/*** switch theme button ***/
.vaporwave-mode button {
    border: none;
    background-color: inherit;
}

.vaporwave-mode img {
    max-width: 24px;
    filter: var(--switchModeImage);
}

.vaporwave-mode img:hover {
    filter: var(--switchModeImage2)
}

/*** prompt effect ***/
.blink {
    animation: blinker 1s step-start infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/*** main pages header and secondary sections ***/
h2.bigheader {
    font-size: 8vw;
    text-align: left;
    text-decoration: initial;
}

section#intro {
    background: var(--mainColor);
    padding-top: 100px;
}

section#studies,
section#contacts {
    background: var(--secondMainColor);
}

section#siteinfo {
    background: var(--mainColor);
}

/* temporary class */
.list {
    height: calc(100vh - 79px + 1px);
}