/*** responsiveness ***/
/* extra large devices (large laptops and desktops, 1201px and up) */
@media only screen and (min-width: 1201px) { /**/ }

/* large devices (laptops/desktops/tablets, from 992px to 1200px) */
@media only screen and (max-width: 1200px) { /**/ }

/* medium devices (landscape tablets, from 768px to 991px) */
@media only screen and (max-width: 991px) {
    .menu {
        display: block;
        position: fixed;
        top: -200%;
        left: 0%;
        padding: 150px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--mainColor);
        transition: 1s;
        border-top: 5px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        top: 0%;
    }

    header {
        width: 100%;
        margin: 0 0;
        z-index: 4;
    }

    header ul li {
        padding-bottom: 35px;
    }

    header ul li a {
        font-size: 35px;
        margin: 10px;
    }

    header ul li a.current-page {
        font-size: 50px;
        margin: 10px;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url("../src/openmenu.png");
        background-position: center;
        background-repeat: no-repeat;
        filter: var(--mobile-menu);
        background-size: 30px;
        transition: 1.5s;
        z-index: 2;
    }
   
    .toggle.active {
        background: url("../src/closemenu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        -o-transform:rotate(720deg);
        -ms-transform:rotate(720deg);
        -moz-transform:rotate(720deg);
        -webkit-transform:rotate(720deg);
        transform:rotate(720deg);
        transition: 1.5s;
    }

    header,
    header.sticky {
        background: var(--mainColor);
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        padding: 30px 0px 30px 60px;
    }

    section#intro,
    section#studies,
    section#siteinfo,
    section#contacts {
        padding: 100px 11vw 100px 11vw;
    }

    h2.bigheader {
        font-size: 15vw;
    }

    section#intro {
        padding-top: 200px;
    }

    .vaporwave-mode img:hover {
        filter: var(--switchModeImage);
    }

    .footer-icon li a img:hover {
        filter: var(--socialImage);
    }
}

/* Small devices (portrait tablets and large phones, from 601px to 767px) */
@media only screen and (max-width: 767px) {
    header,
    header.sticky {
        padding-left: 10vw;
        padding-right: 10vw;
    }

    section#intro,
    section#studies,
    section#siteinfo,
    section#contacts {
        padding: 100px 10vw 100px 10vw;
    }

    h2.bigheader {
        font-size: 18vw;
    }

    section#intro {
        padding-top: 200px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    header,
    header.sticky {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    
    section {
        font-size: 1.1rem;
    }

    .heading h2 {
        font-size: 35px;
    }

    section#intro,
    section#studies,
    section#siteinfo,
    section#contacts {
        padding: 100px 8vw 80px 8vw;
    }

    h2.bigheader {
        font-size: 25vw;
    }

    h2#homepage {
        font-size: 20vw;
    }

    .scroll p {
        font-size: 15em;
        margin-bottom: 58px;
    }

    section#intro {
        padding-top: 200px;
    }

    .content {
        flex-direction: column;
    }

    .footer-icon li a,
    .footer-icon li button {
        margin: 0 5px;
    }

    .check-list {
        padding-left: 0.5rem;
    }

    .copyright p {
        font-size: 1.0rem;
    }
}